*.bak
*.gradle
*.md
*.orig
*.swp
*.tmp
*.tmproj
*~
.DS_Store
.bzr/
.bzrignore
.git/
.gitignore
.gitlab-ci.yml
.gradle/
.hg/
.hgignore
.idea/
.project
.svn/
.vscode/
build/
gradle/
gradle.properties
gradlew
gradlew.bat
package.json
src/
yarn.lock